<div>

    <h3>Change this meeting's information:</h3>

    <table>
        <tr>
            <th>Meeting Type:</td>
                <td>
                    <select ng-model="type">
                        <option value="General">General Meeting</option>
                        <option value="Student Affairs">Student Affairs</option>
                        <option value="External Affairs">External Affairs</option>
                        <option value="Academic Affairs">Academic Affairs</option>
                        <option value="Grants and Sponsorships">Grants and Sponsorships</option>
                    </select>
                </td>
        </tr>
        <tr>
            <th>Meeting Date:</td>
                <td>
                    <input type="text" ng-model="info.date" placeholder="info.date" />
                </td>
        </tr>

    </table>


    <h3>Previous Information:</h3>
    <p>
        <strong>Meeting Type:</strong>{{ old.type }}</p>

    <p>
        <strong>Meeting Date:</strong>{{ old.date }}</p>



    <button type="submit" class="btn btn-default" ng-click="update(info)">Submit</button>

    </form>

</div>