<div>
    
    <a class="btn" href="#/person/edit/{{ info.p_id }}">Change {{ info.first_name }}'s Information</a>

    <h3>{{ info.first_name }} {{ info.last_name }}'s Information:</h3>

    <table>
        <tr>
            <th>First Name:</td>
                <td>
                    <input type="text" ng-model="info.first_name" placeholder="info.first_name" />
                </td>
        </tr>
        <tr>
            <th>Last Name:</td>
                <td>
                    <input type="text" ng-model="info.last_name" placeholder="info.last_name" />
                </td>
        </tr>
        <tr>
            <th>Banner:</td>
                <td>
                    <input type="text" ng-model="info.banner" placeholder="info.banner" />
                </td>
        </tr>
        <tr>
            <th>Phone</td>
                <td>
                    <input type="text" ng-model="info.phone" placeholder="info.phone" />
                </td>
        </tr>
        <tr>
            <th>Date Joined:</td>
                <td>
                    <input type="text" ng-model="info.date_joined" placeholder="info.date_joined" />
                </td>
        </tr>
        <tr>
            <th>Unexcused Total:</td>
                <td>
                    <input type="text" ng-model="info.unexcused_total" placeholder="info.excused_total" />
                </td>
        </tr>
        <tr>
            <th>Excused Total:</td>
                <td>
                    <input type="text" ng-model="info.excused_total" placeholder="info.excused_total" />
                </td>
        </tr>
    </table>
    
</div>