<div>

    <h3>Change {{ old.first_name }}'s Information:</h3>

    <form role="form">
        First Name:
        <input type="text" ng-model="info.first_name" placeholder="info.first_name" />
        <br />Last Name:
        <input type="text" ng-model="info.last_name" placeholder="info.last_name" />
        <br />Banner:
        <input type="text" ng-model="info.banner" placeholder="info.banner" />
        <br />Unexcused Total:
        <input type="text" ng-model="info.unexcused_total" placeholder="info.unexcused_total" />
        <br />Excused Total:
        <input type="text" ng-model="info.excused_total" placeholder="info.excused_total" />
        <br />Date Joined:
        <input type="text" ng-model="info.date_joined" placeholder="info.date_joined" />
        <br />Phone:
        <input type="text" ng-model="info.phone" placeholder="info.phone" />
        <br />



        <h3>Previous Information:</h3>

        <p>{{ old.first_name }}</p>

        <p>{{ old.last_name }}</p>

        <p>{{ old.banner }}</p>

        <p>{{ old.unexcused_total }}</p>

        <p>{{ old.excused_total }}</p>

        <p>{{ old.date_joined }}</p>

        <p>{{ old.phone }}</p>



        <button type="submit" class="btn btn-default" ng-click="update(info)">Submit</button>
        
        <pre>Master = {{ master }}</pre>
    </form>

</div>