<div>
    
    <a class="btn" href="#/person/edit/{{ info.p_id }}">Change {{ info.first_name }}'s Information</a>

    <h3>{{ info.first_name }} {{ info.last_name }}'s Information:</h3>

    <table>
        <tr>
            <th>First Name:</td>
                <td>
                    <span>{{ info.first_name }}</span>
                </td>
        </tr>
        <tr>
            <th>Last Name:</td>
                <td>
                    <span>{{ info.last_name }}</span>
                </td>
        </tr>
        <tr>
            <th>Banner:</td>
                <td>
                    <span>{{ info.banner }}</span>
                </td>
        </tr>
        <tr>
            <th>Phone</td>
                <td>
                    <span>{{ info.phone }}</span>
                </td>
        </tr>
        <tr>
            <th>Date Joined:</td>
                <td>
                    <span>{{ info.date_joined }}</span>
                </td>
        </tr>
        <tr>
            <th>Unexcused Total:</td>
                <td>
                    <span>{{ info.unexcused_total }}</span>
                </td>
        </tr>
        <tr>
            <th>Excused Total:</td>
                <td>
                    <span>{{ info.excused_total }}</span>
                </td>
        </tr>
    </table>

    <button class="btn" ng-click="delete(info.p_id)">DELETE </button>
    
</div>