<!doctype html>
<html ng-app="stugovapp">
    
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
    <script src="app/js/controllers/app.js"></script>
    </head>
    
    <body>
        
        <h2>John's App</h2>
        
        <div ng-controller="indexCtr">
            
            Search: <input type="text" ng-model="searchtext" />
            {{ searchtext }}
            
            <br />
            
            <h3>People:</h3>

            <ul ng-repeat="person in persons | filter:searchtext">
                <li>{{ person.username }}</li>
            </ul>
            
            <p> {{ status }} </p>
            
            <p> {{ insertPerson() }} </p>

        </div>
    </body>
</html>